.single-car {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 20px;
  padding-bottom: 10px;
  align-items: center;
  background-color: #da8f5c;
  border-radius: 5px;
  padding: 3px;
  box-sizing: border-box;
  -webkit-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
}

.car-photo {
  width: 95%;
  height: 90%;
  object-fit: cover;
  margin: -30px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
}

.car-info {
  font-size: 2rem;
  padding: 30px;
}

.description {
  font-size: 1.3rem;
  padding-top: 20px;
}
