.single-car {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 20px;
  padding-bottom: 10px;
  align-items: center;
  background-color: #da8f5c;
  border-radius: 5px;
  padding: 3px;
  box-sizing: border-box;
  -webkit-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
}

.car-photo {
  width: 95%;
  height: 90%;
  object-fit: cover;
  margin: -30px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 35px -11px rgba(0, 0, 0, 0.75);
}

.car-info {
  font-size: 2rem;
  padding: 30px;
}

.description {
  font-size: 1.3rem;
  padding-top: 20px;
}

@media only screen and (max-width: 595px) {
  .car-info {
    font-size: 1rem;
    padding: 5px;
  }

  .description {
    font-size: 0.8rem;
    padding-top: 20px;
  }

  .car-photo {
    margin-bottom: 20px;
  }

  .single-car {
    margin: 30px 5px !important;
    gap: 10px;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {
  .car-info {
    font-size: 1rem;
    padding: 5px;
  }

  .description {
    font-size: 0.8rem;
    padding-top: 20px;
  }

  .car-photo {
    margin-bottom: 20px;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
  .car-info {
    font-size: 1rem;
    padding: 5px;
  }

  .description {
    font-size: 0.8rem;
    padding-top: 20px;
  }

  .car-photo {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 889px) {
  .car-info {
    font-size: 1rem;
    padding: 5px;
  }

  .description {
    font-size: 0.8rem;
    padding-top: 20px;
  }

  .car-photo {
    margin-bottom: 20px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (max-width: 1200px) {
  .car-info {
    font-size: 1.5rem;
    padding: 20px;
  }

  .description {
    font-size: 1rem;
    padding-top: 20px;
  }
}
