.student-list-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 80%;
  height: fit-content;
  margin: 30px auto;
  color: #f8f8f7;
  background-color: #f0f3f2;
  -webkit-box-shadow: 10px 10px 19px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 19px 5px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 19px 5px rgba(0, 0, 0, 1);
}
