.student-list-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 10px;
  width: 80%;
  height: fit-content;
  margin: 30px auto;
  color: honeydew;
  background-color: #302f2d;
  background: radial-gradient(
        circle at 100% 100%,
        #000000 0,
        #000000 3px,
        transparent 3px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 3px, transparent 3px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 3px, transparent 3px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 3px, transparent 3px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#000000, #000000) 50% 50% / calc(100% - 10px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50% / calc(100% - 16px)
      calc(100% - 10px) no-repeat,
    linear-gradient(
      325deg,
      rgba(215, 106, 29, 0.52) 0%,
      rgba(248, 197, 15, 0.89) 22.313%,
      rgba(230, 73, 43, 0.23) 54.726%,
      transparent 73.641%,
      rgba(226, 0, 239, 0.86) 100%
    ),
    conic-gradient(
        from 177deg at 83% 29%,
        #e7931c 0%,
        #f26b14 94.689%,
        #e00bb2 100%
      )
      76% 55%/144% 154%;
  -webkit-box-shadow: 10px 10px 19px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 19px 5px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 19px 5px rgba(0, 0, 0, 1);
}

.single-student {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  padding-bottom: 10px;
  align-items: center;
  background-color: #000000;
  border-radius: 5px;
  background: radial-gradient(
        circle at 100% 100%,
        #000000 0,
        #000000 3px,
        transparent 3px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 3px, transparent 3px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 3px, transparent 3px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 3px, transparent 3px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#000000, #000000) 50% 50% / calc(100% - 10px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50% / calc(100% - 16px)
      calc(100% - 10px) no-repeat,
    linear-gradient(
      325deg,
      rgba(215, 106, 29, 0.52) 0%,
      rgba(248, 197, 15, 0.89) 22.313%,
      rgba(230, 73, 43, 0.23) 54.726%,
      transparent 73.641%,
      rgba(226, 0, 239, 0.86) 100%
    ),
    conic-gradient(
        from 177deg at 83% 29%,
        #e7931c 0%,
        #f26b14 94.689%,
        #e00bb2 100%
      )
      76% 55%/144% 154%;
  border-radius: 8px;
  padding: 9px;
  box-sizing: border-box;
}

.student-photo {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.student {
  font-size: 2rem;
  padding: 10px;
}

.title {
  grid-column: 1 / 5;
  margin: 40px auto;
  text-decoration: underline;
}
